[submodule "libdap-qt-vpn-common"]
	path = libdap-qt-vpn-common
	url = https://gitlab.demlabs.net/cellframe/libdap-qt-vpn-common.git
	branch = master
[submodule "libdap"]
	path = libdap
	url = https://gitlab.demlabs.net/cellframe/libdap.git
	branch = master
[submodule "libdap-crypto"]
	path = libdap-crypto
	url = https://gitlab.demlabs.net/cellframe/libdap-crypto.git
	branch = master
[submodule "libdap-qt"]
	path = libdap-qt
	url = https://gitlab.demlabs.net/cellframe/libdap-qt.git
	branch = master
[submodule "libdap-qt-stream"]
	path = libdap-qt-stream
	url = https://gitlab.demlabs.net/cellframe/libdap-qt-stream.git
	branch = master
[submodule "DapNetworkMonitor"]
	path = DapNetworkMonitor
	url = https://gitlab.demlabs.net/cellframe/DapNetworkMonitor.git
	branch = master
[submodule "libdap-qt-vpn-client"]
	path = libdap-qt-vpn-client
	url = https://gitlab.demlabs.net/cellframe/libdap-qt-vpn-client.git
	branch = master
[submodule "libdap-qt-vpn-ui"]
	path = libdap-qt-vpn-ui
	url = https://gitlab.demlabs.net/cellframe/libdap-qt-vpn-ui.git
	branch = master
[submodule "libdap-qt-ui"]
	path = libdap-qt-ui
	url = https://gitlab.demlabs.net/cellframe/libdap-qt-ui.git
	branch = master
[submodule "libdap-qt-crypto"]
	path = libdap-qt-crypto
	url = https://gitlab.demlabs.net/cellframe/libdap-qt-crypto.git
	branch = master
[submodule "libdap-qt-stream-ch-chain-net-srv"]
	path = libdap-qt-stream-ch-chain-net-srv
	url = https://gitlab.demlabs.net/cellframe/libdap-qt-stream-ch-chain-net-srv
	branch = master
[submodule "libdap-qt-stream-ch-chain-net-srv-vpn"]
	path = libdap-qt-stream-ch-chain-net-srv-vpn
	url = https://gitlab.demlabs.net/cellframe/libdap-qt-stream-ch-chain-net-srv-vpn
	branch = master
[submodule "libdap-chain-common"]
	path = libdap-chain-common
	url = https://gitlab.demlabs.net/cellframe/libdap-chain-common.git
	branch = master
[submodule "dapcash-node"]
	path = dapcash-node
	url = https://gitlab.demlabs.net/dapcash/dapcash-node
	branch = master
