*{
    font: 12pt bolds;
    color: rgb(255,255,255);
}

QMessageBox {
    background: rgb(80, 56, 131);
}

QMessageBox QPushButton {
    border-radius: 5px;
    background-color: #FFFFFF;
    color: rgb(80, 56, 131);
    width:  50px;
    height: 30px;
}

QMessageBox QPushButton:hover{
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
}

#cbLocationV {
        color: rgb(0,0,0);
}

#bgUsername {
    background-color: rgb(240, 252, 254);
    border: none;
}

#bgStatistics{
    background-color: rgb(255, 255, 255);
}

/*******************************************************************************
**			               Common
*******************************************************************************/

QMainWindow,
#mainMenuPages {
    background-color:  qlineargradient(spread:pad, x1:0, y1:0, x2:1, y2:1, stop:0 #5B5392, stop:0.3625 #544F7E stop:1 #1F2561);
    border-width: 0px;
}

QLineEdit {
    lineedit-password-character: 42;
}

QToolButton:focus,
QPushButton:focus,
QComboBox QListView:focus {
    outline: none;
}

/* ------------------------------- btMenu ------------------------------- */

/*Menu button a and spacing at right top corner: */
#btMenu,
#wgTopRightSpacing {
    min-width:  57px;
    max-width:  57px;
    min-height: 57px;
    max-height: 57px;
    border:     none;
}

#btMenu {
    image: url(:/pics/menu_icon.png);
}

#btMenu:hover {
    image: url(:/pics/menu_icon_hover.png);
}

/* ------------------------------- btBack ------------------------------- */

/*Back button a and spacing at right top corner: */
#btBack,
#wgBackSpacing {
    min-height:57px;
    max-height:57px;
    min-width: 139px;
    max-width: 139px;
    text-align: left;
}

#btBack {
    font: 25 23px "Roboto";
    color: white;
    border: none;
    icon-size: 57px;
}

#btBack:hover,
#btBack:pressed{
    font: 23px "Roboto";
}

/* ------------------------------- lbTitle ------------------------------- */

#lbTitle {
    font: 52px "Roboto";
    color: white;
    min-height: 68px;
    max-height: 68px;
}

/* ------------------------------- lbMessage ------------------------------- */

#lbMessage {
    font: 26px "Roboto";
    color: #DADA63;
}

#SignUpBig #lbMessage {
    padding-bottom: 29px;
}

/* ------------------------------- Edits ------------------------------- */

#wgEdits {
    min-width: 520px;
    max-width: 520px;
}

#lblLogin,
#lblMail,
#lblPassword,
#lblConfPassword,
#lblServer,
#btShow,
#btConfShow {
    max-width:  57px;
    max-height: 57px;
    min-width:  57px;
    min-height: 57px;
}

#lineUsername,
#linePassword,
#lineConfPassword,
#lineMail,
#lineUpstream {
    color: white;
}

/* ------------------------------- edMail ------------------------------- */

#lblMail {
    qproperty-pixmap: url(:/pics/mail_icon.png);
}

#edMail {
    background: transparent;
    color: white;
    font: 31px "Roboto";
    border: none;
    min-height:    57px;
    max-height:    57px;
    padding-right: 80px; /*The value of this property should be equal to the
                       width of the button pbShow + spacing between lblLogin and elMail.
                       Required for horizontal centering of text
                       in the login and password fields.*/
}

/* For StyleHandler: */
#edMail [empty]{
    color: rgb(217, 217, 227);
}

/* For StyleHandler: */
#edMail [filled]{
    color: white;
}

/* For StyleHandler: */
#edMail [checkError]{
    color: #DADA63;
}


/* ------------------------------- edPassword ------------------------------- */

#lblPassword,
#lblConfPassword {
    qproperty-pixmap: url(:/pics/psw_icon.png);
}


#edPassword,
#edConfPassword {
    background: transparent;
    color: white;
    font: 31px "Roboto";
    border: none;
    min-height: 57px;
    max-height: 57px;
    padding-right: 23px; /*The value of this property should be equal to the
                       spacing between lblLogin and elMail.
                       Required for horizontal centering of text
                       in the login and password fields.*/
}

/* For StyleHandler: */
#edPassword [empty]{
    color: rgb(217, 217, 227);
}

/* For StyleHandler: */
#edPassword [filled]{
    color: white;
}

/* For StyleHandler: */
#edPassword [checkError] {
    color: #DADA63;
}

/* ------------------------------- btShow ------------------------------- */

#btShow, #btConfShow {
    image: url(:/pics/show_icon.png);
    border: none;
}

#btShow:checked,
#btConfShow:checked {
    image: url(:/pics/hide_icon.png);
}


/* ------------------------------- QComboBox ------------------------------- */

#cbUpstream {
    combobox-popup: 0;
    border: none;
    background-color:  transparent;
}

#cbUpstream QListView {
    background-color: #E2E2EA;
    border: none;
}

#cbUpstream QListView::item {
    color: #080D38;
    border: none;
}

#cbUpstream QListView::item:selected {
    background-color: #503883;
    color: white;
}

#cbUpstream::separator{
    background:  #CDCBE5;
    border:none;
}

#cbUpstream QScrollBar:vertical {
    background: rgba(12, 0, 116, 0.5);
    max-width: 5px;
}

#cbUpstream QScrollBar::handle:vertical {
    background: #9A86C4;
}

#cbUpstream QScrollBar::add-line:vertical,
#cbUpstream QScrollBar::sub-line:vertical {
     height: 0px;
}

#cbUpstream::drop-down {
    subcontrol-origin: padding;
    subcontrol-position: bottom right;
    border: none;
}


/* ------------------------------- btLogin / btCreate / btSend ------------------------------- */

#LoginBig          #btLogin,
#SignUpBig         #btCreate,
#ForgotPasswordBig #btSend,
#DashboardBig      #btDisconnect {
    background-color: white;
    border: 3px solid white;
}

#LoginBig          #btLogin,
#SignUpBig         #btCreate,
#ForgotPasswordBig #btSend {
    min-height: 64px;
    max-height: 64px;
    color: #080D38;
    font: 26px "Roboto";
    border-radius: 35px;
}

#LoginBig          #btLogin,
#SignUpBig         #btCreate {
    min-width: 307px;
    max-width: 307px;
}

#LoginBig          #btLogin:hover,
#SignUpBig         #btCreate:hover,
#ForgotPasswordBig #btSend:hover,
#DashboardBig      #btDisconnect:hover {
    background-color: transparent;
    color: white;
}

/*******************************************************************************
**			            Login Layout screen
*********************************************************************************/

#AnimationScreenFullScreen #changingScreen {
    max-width:  1664px;
    min-width:  1664px;
    min-height: 1040px;
    max-height: 1040px;
    border: none;
}


/*******************************************************************************
**			            LoginBig screen
********************************************************************************

Moved to common part:
----------------------
#btMenu
#btMenu:hover
#frameCap

#lbMessage
--------------------------*/

/* Logo icon */
#LoginBig #Logo {
    qproperty-pixmap: url(:/pics/logo-divevpn.png);
    max-width:  260px;
    max-height: 260px;
    min-width:  260px;
    min-height: 260px;
}

#LoginBig #lbMessage {
    min-height: 90px;
    max-height: 90px;
}

/* Moved to common part:
--------------------------
#wgEdits

#lblLogin (size)
#edMail
#lineUsername

#lblPassword (size, image)
#edPassword
#btShow
#linePassword

#lblServer (size)
#lineUpstream
--------------------------*/

#LoginBig #lblLogin {
    qproperty-pixmap: url(:/pics/user_icon.png);
}

#LoginBig #lblServer {
    qproperty-pixmap: url(:/pics/server_icon.png);
}

/* ------------------------------- QComboBox ------------------------------- */

/* Moved to common part:
--------------------------
#cbUpstream
--------------------------*/

#LoginBig #cbUpstream {
    color: white;
    padding-left: 10px;
    font: 31px "Roboto";
    min-height: 57px;
    max-height: 57px;
}

#LoginBig #cbUpstream QListView::item {
     height: 62px;
     padding-left: 15px;
}

#LoginBig #cbUpstream::separator {
    margin-left: 83px;
}

#LoginBig #cbUpstream::drop-down {
    height: 57px;
    width:  57px;
}

#LoginBig #cbUpstream::down-arrow {
    height: 57px;
    width:  57px;
    image: url(:/pics/arrow_down_mainscreen.png);
}

#LoginBig #cbUpstream::down-arrow:on {
    image: url(:/pics/arrow_up_mainscreen.png);
}

/* Moved to common part:
--------------------------
#btLogin
--------------------------*/


/* ------------------------------- btSignUp ------------------------------- */

/* Item style in normal condition */
#LoginBig #btSignUp {
    font: 25 26px "Roboto";
    color: white;
    min-height: 33px;
    max-height: 33px;
}

#LoginBig #btSignUp:hover,
#LoginBig #btSignUp:pressed {
    font: 26px "Roboto";
    border: 0px;
} 

/* ------------------------------- btLostPassword ------------------------------- */

/* Item style in normal condition */
#LoginBig #btLostPassword {
    font: 25 23px "Roboto";
    color: white;
    border: none;
    min-height: 30px;
    max-height: 30px;
}

#LoginBig #btLostPassword:hover,
#LoginBig #btLostPassword:pressed {
    font: 23px "Roboto";
} 

/*******************************************************************************
**			            SignUpBig screen
*******************************************************************************/

/* Moved to common part:
--------------------------
#btBack
#wgBackSpacing

#lbTitle
--------------------------*/

#SignUpBig #lbMessage {
    min-height: 200px;
    max-height: 200px;
}

/* Moved to common part:
--------------------------
#wgEdits

#lblMail (size, image)
#edMail
#lineUsername

#lblPassword (size, image)
#edPassword
#btShow
#linePassword

#lblConfPassword (size, image)
#btConfShow

#lblServer
#lineUpstream

#btCreate
--------------------------*/



#SignUpBig #lblSignUpWith {
    font: 23px "Roboto";
    color: white;
    min-height: 30px;
    max-height: 30px;
}

#SignUpBig #btFacebook,
#SignUpBig #btTwitter,
#SignUpBig #btGoogle {
    max-width:  65px;
    max-height: 65px;
    min-width:  65px;
    min-height: 65px;
    background-color: transparent;
    border: none;
}

#SignUpBig #btFacebook {
    image: url(:/pics/facebook_icon.png);
}

#SignUpBig #btTwitter {
    image: url(:/pics/twitter_icon.png);
}

#SignUpBig #btGoogle {
    image: url(:/pics/google_icon.png);
}

/*******************************************************************************
**			            ForgotPasswordBig screen
*******************************************************************************/

/* Moved to common part:
--------------------------
#btBack
#wgBackSpacing

#lbTitle
--------------------------*/

#ForgotPasswordBig #lblTextFirst,
#ForgotPasswordBig #lblTextSecond {
    font: 25 26px "Roboto";
    color: white;
    min-height: 77px;
    max-height: 77px;
}



/* Moved to common part:
--------------------------
#lbMessage
--------------------------*/

#ForgotPasswordBig #lbMessage {
    min-height: 75px;
    max-height: 75px;
}

/* Moved to common part:
--------------------------
#wgEdits

#lblMail (size, image)
#edMail
#lineMail

#btSend
--------------------------*/

#ForgotPasswordBig #btSend {
    max-width: 397px;
    min-width: 397px;
}

/*******************************************************************************
**			        DashboardBig screen
********************************************************************************

Moved to common part:
----------------------
#btMenu
#wgTopRightSpacing
----------------------*/

/* ------------------------------- lbMessage ------------------------------- */

#DashboardBig #lbMessage {
    min-width:    0px;
    min-height:  60px;
    max-height:  60px;
    margin-right:13px;
}

/* ---------- btMessageClose ---------- */


#DashboardBig #btMessageClose {
    min-width: 60px;
    max-width: 60px;
    min-height:60px;
    max-height:60px;
    background-color: transparent;
    border: none;
}

#btMessageClose::image{
    min-width: 27px;
    max-width: 27px;
    min-height:27px;
    max-height:27px;
    qproperty-pixmap: url(":/pics/close_icon@3x.png");
}

#btMessageClose::image:hover{
}

#btMessageClose::text{
    min-width: 0px;
    max-width: 0px;
    min-height:0px;
    max-height:0px;
}

#btMessageClose::text:hover{
}

/* ------------------------------- Multirouting ------------------------------- */

#DashboardBig #wtMultirouting {
    background-color: #EDECF3;
    max-width:  572px;
    min-width:  572px;
    background-clip:padding; /*for Shadow*/
    border-bottom: 1px solid rgba(39, 0, 116, 0.2); /*Shadow*/
}


/* ------------------------------- btMultirouting ------------------------------- */

#DashboardBig #btMultirouting {
    min-height: 81px;
    max-height: 81px;
    border: none;
}

#DashboardBig #btMultirouting:hover {
    background-color: #503883;
}

/* --------- leftSpacing ---------- */

#DashboardBig #btMultirouting #leftSpacing {
    max-width: 0px;
}

/* --------- 1. image --------- */

#DashboardBig #btMultirouting #image {
    min-width:  81px;
    max-width:  81px;
    min-height: 81px;
    max-height: 81px;
    padding-left: 12px;
}

#btMultirouting::image {
    image: url(:/pics/multirouting_icon.png);
}

#btMultirouting::image:hover {
    image: url(:/pics/multirouting_icon_hover.png);
}

#btMultirouting::image:checked {}

#btMultirouting::image:checked:hover {}

/* --------- 2. text --------- */

#DashboardBig #btMultirouting #text {
    font: 22px "Roboto";
    max-height: 62px;
    min-height: 62px;
    margin-left: 1px;
}

#btMultirouting::text {
    color: #080D38;
}

#btMultirouting::text:hover {
    color: white;
}

#btMultirouting::text:checked {}

#btMultirouting::text:checked:hover {}

/* --------- 3. checkbox --------- */

#DashboardBig #btMultirouting #checkbox {
    min-width:  81px;
    max-width:  81px;
    min-height: 81px;
    min-height: 81px;
}

#btMultirouting::checkbox {
    image: url(:/pics/checkbox_no_icon_mainscreen.png);
}

#btMultirouting::checkbox:hover {
    image: url(:/pics/checkbox_no_icon_hover_mainscreen.png);
}

#btMultirouting::checkbox:checked {
    image: url(:/pics/checkbox_icon_mainscreen.png);
}

#btMultirouting::checkbox:checked:hover {
    image: url(:/pics/checkbox_icon_hover_mainscreen.png);
}

/* --------- rightSpacing --------- */

#DashboardBig #btMultirouting #rightSpacing {
    min-width: 0px;
    max-width: 0px;
}

/* ------------------------------- lineMultirouting ------------------------------- */




#DashboardBig #lineMultirouting {
    background:  #CDCBE5;
    border: none;
    margin-left: 95px;
    min-height: 1px;
    max-height: 1px;
}


/* ------------------------------- cbUpstream ------------------------------- */

/* Moved to common part:
--------------------------
#cbUpstream
--------------------------*/

#DashboardBig #cbUpstream {
    color: #080D38;
    padding-left: 16px;
    font: 29px "Roboto";
    min-height: 81px;
    max-height: 81px;
}

#DashboardBig #cbUpstream:hover {
    color: white;
    background-color: #503883;
}

#DashboardBig #cbUpstream QListView {
    max-height: 295px;
    min-height: 295px;
}

#DashboardBig #cbUpstream QListView::item {
    height: 81px;
    padding-left: 29px;
}

#DashboardBig #cbUpstream::separator{
    margin-left: 95px;
}

#DashboardBig #cbUpstream::drop-down {
    height: 81px;
    width:  81px;
}

#DashboardBig #cbUpstream::down-arrow {
    height: 81px;
    width:  81px;
    image: url(:/pics/drop-down_icon_mainscreen.png);
}

#cbUpstream::down-arrow:hover {
    image: url(:/pics/drop-down_hover_icon_mainscreen.png);
}

#DashboardBig #cbUpstream::down-arrow:on {
    image: url(:/pics/drop-down_up_icon_mainscreen.png);
}

/* ------------------------------- btDisconnect ------------------------------- */

#DashboardBig #btDisconnect {
    min-width: 311px;
    max-width: 311px;
    min-height: 75px;
    max-height: 75px;
    border-radius: 40px;
}

#DashboardBig #btDisconnect #image {
    min-width: 62px;
    max-width: 62px;
    min-height:62px;
    max-height:62px;
   /*image-position: center;*/
}

#btDisconnect::image {
    qproperty-pixmap: url(:/pics/off_btn_icon.png);
}

#btDisconnect::image:hover {
    qproperty-pixmap: url(:/pics/off_btn_icon_hover.png);
}

#DashboardBig #btDisconnect #text {
    margin-left:8px;
    font: 34px "Roboto";
    color: #080D38;
}

#btDisconnect::text {}

#btDisconnect::text:hover {
    color: white;
}

/* ------------------------------- bgStatistics ------------------------------- */

#DashboardBig #graphicsView {
    background-color: #EEEDF2;
    border: 1px solid white;
    /* width and height must be set in QtDesigner*/
}

/*for graphics. Implements the active property.*/
#DashboardBig #shGrid [active]{
    color: rgba(22, 3, 198, 0.5);
    depth: 0.3;
}

/*for graphics. Implements the active property.*/
#DashboardBig #shChartDownload [active]{
    color: #00B52B;
    depth: 1.3;
    background-color: rgba(0, 181, 43, 0.05);
}

/*for graphics. Implements the active property.*/
#DashboardBig #shChartUpload [active]{
    color: #03A7C6;
    depth: 1.3;
    background-color: rgba(3, 167, 198, 0.08);
}


/* ------------------------------- Datas  ------------------------------- */

#DashboardBig #bgStatistics{
    border: none;
    background-color: #EEEDF2;
    min-width:  650px;
    max-width:  650px;
    min-height: 156px;
    max-height: 156px;
}

#DashboardBig #lblTitleDownloadSpeed,
#DashboardBig #lblDownloadSpeed {
    color: #00B52B;
    font: 500 18px "Roboto";
}

#DashboardBig #lblTitleUploadSpeed ,
#DashboardBig #lblUploadSpeed {
    color: #03A7C6;
    font: 500 18px "Roboto";
}

#DashboardBig #lbTitleDownload ,       #DashboardBig #lbReceived,
#DashboardBig #lblTitlePacketsRead ,   #DashboardBig #lblPacketsRead,
#DashboardBig #lblTitleTimeConnected , #DashboardBig #lblTimeConnected,
#DashboardBig #lblTitleUpload ,        #DashboardBig #lbSent,
#DashboardBig #lblTitlePacketsWritten, #DashboardBig #lblPacketsWritten,
#DashboardBig #lblTitleLastConnection, #DashboardBig #lblLastConnection {
    color: #080D38;
    font: 18px "Roboto";
}

/* ------------------------------- Indicators  ------------------------------- */

#DashboardBig #bgAuth,
#DashboardBig #bgStream,
#DashboardBig #bgConnection {
    background-color: #8B85A8;
    min-height: 134px;
    max-height: 134px;
}

#DashboardBig #lbAuthorization,
#DashboardBig #lbStream,
#DashboardBig #lbTunnel {
    image: url(:/pics/red_light.png);
    max-width:  55px;
    max-height: 55px;
    min-width:  55px;
    min-height: 55px;
}

#DashboardBig #lbAuthorization [active] {
    image: url(:/pics/green_light.png);
}

#DashboardBig #lbStream [active] {
    image: url(:/pics/green_light.png);
}

#DashboardBig #lbTunnel [active] {
    image: url(:/pics/green_light.png);
}

#DashboardBig #lbAuthorization [passive] {
    image: url(:/pics/red_light.png);
}

#DashboardBig #lbStream [passive] {
    image: url(:/pics/red_light.png);
}

#DashboardBig #lbTunnel [passive] {
    image: url(:/pics/red_light.png);
}

#DashboardBig #lbAuthorizationText,
#DashboardBig #lbStreamText,
#DashboardBig #lbTunnelText {
    color: white;
    font: 22px "Roboto";
}


/*******************************************************************************
**			            Sidebar
*******************************************************************************/

#SideBar {
    background-color:#EDECF3;
    min-width:312px;
    max-width:312px;
}

#SideBar *{
    font:25 23px "Roboto";
    color: #080D38;
}

#SideBar QPushButton{
    border: none;
}

/* ------------------------------- Caption ------------------------------- */

#SideBar #frmCaption {
    background-color: #F0EFF5;
    border-bottom: 1px solid #CDCBE5;
    margin-bottom: 26px;
    min-height:    57px;
    max-height:    57px;
}

#SideBar #btMenu {
    image:url(:/pics/menu_icon_dark.png);
}

#SideBarStackedWidget #btMenu:checked {
    image:url(:/pics/back_icon_dark.png);
}


/* ------------------------------- MenuItems ------------------------------- */

#SideBar #btProfile,
#SideBar #btSettings{
    min-height:   47px;
    max-height:   47px;
    margin-top:    5px;
    margin-bottom: 5px;
    background-clip: margin;
}

#SideBarStackedWidget #btProfile:hover,
#SideBarStackedWidget #btSettings:hover {
    color: #FFFFFF;
    background-color: #503883;
}

#SideBarStackedWidget #btProfile:checked,
#SideBarStackedWidget #btSettings:checked {
    border-left: 8px solid #503883;
}

#SideBar #btProfile  #image,
#SideBar #btSettings #image {
    min-width: 57px;
    max-width: 57px;
}

/* ----------- btProfile ----------- */

#SideBar #btProfile #leftSpacing {
    max-width: 0px;
}

#btProfile::image {
    qproperty-pixmap: url(:/pics/profile_icon_dark.png);
}

#btProfile::image:hover {
    qproperty-pixmap: url(:/pics/profile_icon_hover.png);
}

#btProfile::image:checked {}

#btProfile::image:checked:hover {}

#btProfile::text {}

#btProfile::text:checked {}

#btProfile::text:hover {
    color: #FFFFFF;
}

#btProfile::text:checked:hover {}

/* ----------- btSettings ----------- */

#SideBar #btSettings #leftSpacing {
    max-width: 0px;
}

#btSettings::image {
    qproperty-pixmap:url(:/pics/settings_icon_dark.png);
}

#btSettings::image:hover {
    qproperty-pixmap:url(:/pics/settings_icon_hover.png);
}

#btSettings::image:checked {}

#btSettings::image:checked:hover {}

#btSettings::text {}

#btSettings::text:checked {}

#btSettings::text:hover {
    color: #FFFFFF;
}

#btSettings::text:checked:hover {}

/* ------------------------------- Footer ------------------------------- */

#SideBar #lbBrand,
#SideBar #lblVersion
{
    margin-left: 21px;
}

#SideBar #lblVersion
{
    margin-bottom: 18px;
}

#SideBar #lbBrand{
    qproperty-pixmap: url(:/pics/demlabs_logo.png);
    min-width: 182px;
    max-width: 182px;
    min-height: 29px;
    max-height: 29px;
    margin-bottom: 7px;
}

#SideBar #lblVersion{
    color: #5A5A5A;
    font: 18px "Roboto";
    min-height: 23px;
    max-height: 23px;
}

/* ------------------------------- Right part ------------------------------- */
ScreenOverlaying{
    background-color: rgba(8, 13, 56, 0.66);
}

/* Needed for right positioning of background gradient */
#mainMenuPages {
    margin-left: -312px;
    padding-left: 312px;
}


/*******************************************************************************
                                    Settings
*******************************************************************************/

/* ------- Servers table -------*/
#ScreenSettings #lblManageServersCaption{
    font: 25 18px "Roboto";
    color: #A4A6C1;
    max-height: 44px;
    min-height: 44px;
}


/* ------- Servers table -------*/
#ScreenSettings #tblServers{
    icon-size:48px;
    font: 16px "Roboto";
    color:#080D38;
    margin:0;
    padding:0;
    border-left: 8px solid transparent;
    background-color: #F6F6FC
}

#ScreenSettings #tblServers QPushButton,
#ScreenSettings #tblServers QToolButton {
    border: none;
    image-position: center;
}

#ScreenSettings #tblServers QPushButton,
#ScreenSettings #tblServers QToolButton,
#ScreenSettings #tblServers::item:disabled {
    border-bottom: 1px solid #A4A6C1;
}

#ScreenSettings #tblServers QPushButton{
    image: url(:/pics/fav_icon.png);
}

#ScreenSettings #tblServers QToolButton{
    image: url(:/pics/more_icon.png);
}

#ScreenSettings #tblServers QToolButton:hover{
    image: url(:/pics/more_icon_select.png);
}

#ScreenSettings #tblServers QPushButton:checked{
    image: url(:/pics/fav_icon_select.png);
}

#ScreenSettings #tblServers::item{
    max-height: 48px;
    min-height: 48px;
}


/* ------- Menu "More" -------*/
#ScreenSettings #SettingsMoreMenu{
    width:136px;
    height:112px;
}

#ScreenSettings #SettingsMoreMenu #frmSettingsMoreMenu{
    border: 0.5 solid #A4A6C1;

    background-color: #F6F6FC;

    padding-top:7.5;            /*+0.5 border*/
    padding-bottom:7.5;         /*+0.5 border*/
}

#ScreenSettings #SettingsMoreMenu QPushButton {
    border: none;

    margin-left:4px;            /*spacing to image*/
    padding-left:34px;           /*margin + padding + 2 = spacing to text*/

    background-color: #F6F6FC;
    background-repeat:none;
    background-position:left center;
    background-origin:padding;  /*background-color position*/
    background-clip:margin;     /*background-image position*/

    font: 15px "Roboto";
    color: #080D38;
    text-align : left;
}

#ScreenSettings #SettingsMoreMenu QPushButton:hover {
    color: #FFFFFF;
    background-color: #503883;
}

/* ------- AddServer button -------*/

#ScreenSettings #btAddServer {
    border-radius: 27px;
    font: 20px "Roboto";
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    background-color:  transparent;
    max-width: 240px;
    max-height: 54px;
    min-width: 240px;
    min-height: 54px;
}

#ScreenSettings #btAddServer:hover {
    color: #080D38;
    background-color:  #FFFFFF;
}


/* ------- ScrollBar -------*/

#ScreenSettings QScrollBar:vertical {
    border: none;
    background: rgba(255, 255, 255, 0.3);
    margin: 0;
}

#ScreenSettings QScrollBar::handle:vertical {
    background: rgba(255, 255, 255, 0.6);
}

#ScreenSettings QScrollBar::add-line:vertical,
#ScreenSettings QScrollBar::sub-line:vertical {
     height: 0px;
}

/*filling backgrounds for checking sizes:*/
/*#lbTitle,
#Logo,
#lblLogin,
#edMail,
#lblPassword,
#edPassword,
#lblServer,
#cbUpstream,
#cbUpstrea::drop-down,
#btShow,
#btSignUp,
#btLostPassword,
#lblSignUpWith,
#lblTextFirst,
#lblTextSecond,
#btBack,
#wgBackSpacing {
    background-color:red;
}*/
