*{
    font: 12pt bolds;
    color: rgb(255,255,255);
}

QMessageBox {
    background: rgb(80, 56, 131);
}

QMessageBox QPushButton {
    border-radius: 5px;
    background-color: #FFFFFF;
    color: rgb(80, 56, 131);
    width:  50px;
    height: 30px;
}

QMessageBox QPushButton:hover{
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
}

#cbLocationV {
        color: rgb(0,0,0);
}

#bgUsername {
    background-color: rgb(240, 252, 254);
    border: none;
}

#bgStatistics{
    background-color: rgb(255, 255, 255);
}



/*******************************************************************************
**			               Common
*******************************************************************************/
*{
    font-family: "Roboto";
}

QMainWindow,
#mainMenuPages {
    background-color:  qlineargradient(spread:pad, x1:0, y1:0, x2:1, y2:1, stop:0 #5B5392, stop:0.3625 #544F7E stop:1 #1F2561);
    border-width: 0px;
}

QLineEdit {
    lineedit-password-character: 42;
}

QToolButton:focus,
QPushButton:focus,
QComboBox QListView:focus {
    outline: none;
}

/* ------------------------------- btMenu ------------------------------- */

/*Menu button a and spacing at right top corner: */
#btMenu,
#wgTopRightSpacing {
    min-width: 44px;
    max-width: 44px;
    min-height:44px;
    max-height:44px;
    border:    none;
}

#btMenu {
    image: url(:/pics/menu_icon.png);
}

#btMenu:hover {
    image: url(:/pics/menu_icon_hover.png);
}

/* ------------------------------- btBack ------------------------------- */

/*Back button a and spacing at right top corner: */
#btBack,
#wgBackSpacing {
    min-height: 44px;
    max-height: 44px;
    min-width: 110px;
    max-width: 110px;
    text-align: left;
}

#btBack {
    font: 25 18px "Roboto";
    color: white;
    border: none;
    icon-size: 44px;
}

#btBack:hover,
#btBack:pressed {
    font: 18px "Roboto";
}

/* ------------------------------- lbTitle ------------------------------- */

#lbTitle {
    font: 40px "Roboto";
    color: white;
    min-height: 52px;
    max-height: 52px;
}

/* ------------------------------- lbMessage ------------------------------- */

/* Item style in normal condition */
#lbMessage {
    font: 20px "Roboto";
    color: #DADA63;
}

#SignUp #lbMessage {
    padding-bottom: 22px;
}

/* ------------------------------- Edits ------------------------------- */

#wgEdits {
    min-width: 400px;
    max-width: 400px;
}

#lblLogin,
#lblMail,
#lblPassword,
#lblConfPassword,
#lblServer,
#btShow,
#btConfShow {
    max-width:  44px;
    max-height: 44px;
    min-width:  44px;
    min-height: 44px;
}

#lineUsername,
#linePassword,
#lineConfPassword,
#lineMail,
#lineUpstream {
    color: white;
}

/* ------------------------------- edMail ------------------------------- */

#lblMail {
    image: url(:/pics/mail_icon.png);
}

#edMail {
    background-color:  transparent;
    color: white;
    font: 24px "Roboto";
    border: none;
    min-height:    44px;
    max-height:    44px;
    padding-right: 62px; /*The value of this property should be equal to the
                       width of the button pbShow + spacing between lblLogin and elMail.
                       Required for horizontal centering of text
                       in the login and password fields.*/
}

#edMail [empty]{ /* For StyleHandler: */
    color: rgb(217, 217, 227);
}

#edMail [filled]{ /* For StyleHandler: */
    color: white;
}

#edMail [checkError]{ /* For StyleHandler: */
    color: #DADA63;
}

/* -------------------------------  edPassword / edConfPassword ------------------------------- */

#lblPassword,
#lblConfPassword {
    image: url(:/pics/psw_icon.png);
}

/* Item style in normal condition */
#edPassword,
#edConfPassword{
    background-color:  transparent;
    color: white;
    font: 24px "Roboto";
    border: none;
    min-height: 44px;
    max-height: 44px;
    padding-right: 18px; /*The value of this property should be equal to the
                       spacing between lblLogin and elMail.
                       Required for horizontal centering of text
                       in the login and password fields.*/
}

#edPassword [empty]{ /* For StyleHandler: */
    color: #D9D9E3;
}

#edPassword [filled]{ /* For StyleHandler: */
    color: white;
}

#edPassword [checkError]{ /* For StyleHandler: */
    color: #DADA63;
}

/* ------------------------------- btShow ------------------------------- */

#btShow,
#btConfShow {
    image: url(:/pics/show_icon.png);
    background-color: transparent;
    border: none;
}

#btShow:checked,
#btConfShow:checked {
    image: url(:/pics/hide_icon.png);
}

/* ------------------------------- QComboBox ------------------------------- */

#cbUpstream {
    combobox-popup: 0;
    border: none;
    background-color:  transparent;
}

#cbUpstream QListView {
    background-color: #E2E2EA;
    border: none;
}

#cbUpstream QListView::item {
    color: #080D38;
    border: none;
}

#cbUpstream QListView::item:selected {
    background-color: #503883;
    color: white;
}

#cbUpstream::separator{
    background: #CDCBE5;
    border: none;
}

#cbUpstream QScrollBar:vertical {
    background: rgba(12, 0, 116, 0.5);
    max-width: 4px;
}

#cbUpstream QScrollBar::handle:vertical {
    background: #9A86C4;
}

#cbUpstream QScrollBar::add-line:vertical,
#cbUpstream QScrollBar::sub-line:vertical {
     height: 0px;
}

#cbUpstream::drop-down {
    subcontrol-origin: padding;
    subcontrol-position: bottom right;
    border: none;
}


/* ------------------------------- btLogin / btCreate / btSend ------------------------------- */

#Login          #btLogin,
#SignUp         #btCreate,
#ForgotPassword #btSend,
#Dashboard      #btDisconnect {
    background-color: white;
    border: 2px solid white;
}

#Login          #btLogin,
#SignUp         #btCreate,
#ForgotPassword #btSend {
    min-height: 50px;
    max-height: 50px;
    color: #080D38;
    font: 20px "Roboto";
    border-radius: 27px;
}

#Login          #btLogin,
#SignUp         #btCreate {
    min-width: 236px;
    max-width: 236px;
}

#Login          #btLogin:hover,
#SignUp         #btCreate:hover,
#ForgotPassword #btSend:hover,
#Dashboard      #btDisconnect:hover {
    background-color: transparent;
    color: white;
}


/*******************************************************************************
**			            Login Layout screen
*********************************************************************************/

#AnimationScreenFullScreen #changingScreen {
    max-width:  1280px;
    min-width:  1280px;
    min-height: 800px;
    max-height: 800px;
    border: none;
}


/*******************************************************************************
**			            Login screen
********************************************************************************

Moved to common part:
----------------------
#btMenu
#btMenu:hover
#wgTopRightSpacing

#lbTitle
#lbMessage
--------------------------*/


#Login #Logo {
    image: url(:/pics/logo-divevpn.png);
    max-width:  200px;
    max-height: 200px;
    min-width:  200px;
    min-height: 200px;
}

#Login #lbMessage {
    min-height: 45px;
    max-height: 45px;
}

/* Moved to common part:
--------------------------
#wgEdits

#lblLogin (size)
#edMail
#lineUsername

#lblPassword (size, image)
#edPassword
#btShow
#linePassword

#lblServer (size)
#lineUpstream
--------------------------*/

#Login #lblLogin {
    image: url(:/pics/user_icon.png);
}

#Login #lblServer {
    image: url(:/pics/server_icon.png);
}

/* ------------------------------- QComboBox ------------------------------- */

/* Moved to common part:
--------------------------
#cbUpstream
--------------------------*/

#Login #cbUpstream {
    color: white;
    padding-left: 8px;
    font: 24px "Roboto";
    min-height: 44;
    max-height: 44;
}

#Login #cbUpstream QListView::item {
     height: 48px;
     padding-left: 5px;
}

#Login #cbUpstream::separator {
    margin-left: 64px;
}


#Login #cbUpstream::drop-down {
    height: 44px;
    width:  44px;
}

#Login #cbUpstream::down-arrow {
    height: 44px;
    width:  44px;
    image: url(:/pics/arrow_down_mainscreen.png);
}

#Login #cbUpstream::down-arrow:on {
    image: url(:/pics/arrow_up_mainscreen.png);
}

/* Moved to common part:
--------------------------
#btLogin
--------------------------*/


/* ------------------------------- btSignUp ------------------------------- */

#Login #btSignUp {
    font: 25 20px "Roboto";
    color: white;
    border: none;
    min-height: 26px;
    max-height: 26px;
}

#Login #btSignUp:hover,
#Login #btSignUp:pressed {
    font: 20px "Roboto";
}

/* ------------------------------- btLostPassword ------------------------------- */

#Login #btLostPassword {
    font: 25 18px "Roboto";
    color: white;
    border: none;
    min-height: 23px;
    max-height: 23px;
}

#Login  #btLostPassword:hover,
#Login  #btLostPassword:pressed {
    font: 18px "Roboto";
}



/*******************************************************************************
**			            SignUp screen
*******************************************************************************/

/* Moved to common part:
--------------------------
#btBack
#wgBackSpacing

#lbTitle
--------------------------*/

#SignUp #lbMessage {
    min-height: 154px;
    max-height: 154px;
}

/* Moved to common part:
--------------------------
#wgEdits

#lblMail (size, image)
#edMail
#lineUsername

#lblPassword (size, image)
#edPassword
#btShow
#linePassword

#lblConfPassword (size, image)
#btConfShow

#lblServer
#lineUpstream

#btCreate
--------------------------*/


#SignUp #lblSignUpWith {
    font: 18px "Roboto";
    color: white;
    min-height: 23px;
    max-height: 23px;
}

#SignUp #btFacebook,
#SignUp #btTwitter,
#SignUp #btGoogle {
    max-width:  50px;
    max-height: 50px;
    min-width:  50px;
    min-height: 50px;
    background-color: transparent;
    border: none;
}

#SignUp #btFacebook {
    image: url(:/pics/facebook_icon.png);
}

#SignUp #btTwitter {
    image: url(:/pics/twitter_icon.png);
}

#SignUp #btGoogle {
    image: url(:/pics/google_icon.png);
}

/*******************************************************************************
**			            ForgotPassword screen
*******************************************************************************/

/* Moved to common part:
--------------------------
#btBack
#wgBackSpacing

#lbTitle
--------------------------*/

#ForgotPassword #lblTextFirst,
#ForgotPassword #lblTextSecond {
    font: 25 20px "Roboto";
    color: white;
    min-height: 59px;
    max-height: 59px;
}

/* Moved to common part:
--------------------------
#lbMessage
--------------------------*/

#ForgotPassword #lbMessage {
    min-height: 57px;
    max-height: 57px;
}

/* Moved to common part:
--------------------------
#wgEdits

#lblMail (size, image)
#edMail
#lineMail

#btSend
--------------------------*/

#ForgotPassword #btSend {
    max-width: 304px;
    min-width: 304px;
}

/*******************************************************************************
**			        Dashboard screen
********************************************************************************

Moved to common part:
----------------------
#btMenu
#wgTopRightSpacing
----------------------*/

/* ------------------------------- lbMessage ------------------------------- */

#Dashboard #lbMessage {
    min-width:    0px;
    min-height:  46px;
    max-height:  46px;
    margin-right:10px;
}

/* ---------- btMessageClose ---------- */

#Dashboard #btMessageClose {
    min-width: 46px;
    max-width: 46px;
    min-height:46px;
    max-height:46px;
    background-color: transparent;
    border: none;
}

#btMessageClose::image{
    min-width: 21px;
    max-width: 21px;
    min-height:21px;
    max-height:21px;
    image: url(":/pics/close_icon@3x.png");
}

#btMessageClose::image:hover {}

#btMessageClose::text {
    min-width: 0px;
    max-width: 0px;
}

#btMessageClose::text:hover {}


/* ------------------------------- Multirouting ------------------------------- */

#Dashboard #wtMultirouting {
    background-color: #EDECF3;
    max-width:  440px;
    min-width:  440px;
    background-clip:padding; /*for Shadow*/
    border-bottom: 1px solid rgba(39, 0, 116, 0.2); /*Shadow*/
}


/* ------------------------------- btMultirouting ------------------------------- */

#Dashboard #btMultirouting {
    min-height: 62px;
    max-height: 62px;
    border: none;
}

#Dashboard #btMultirouting:hover {
    background-color: #503883;
}

/* --------- leftSpacing ---------- */

#Dashboard #btMultirouting #leftSpacing {
    max-width: 0px;
}

/* --------- 1. image --------- */

#Dashboard #btMultirouting #image {
    min-width:  62px;
    max-width:  62px;
    min-height: 62px;
    max-height: 62px;
    image-position: center;
    padding-left: 12px;
}

#btMultirouting::image {
    image: url(:/pics/multirouting_icon.png);
}

#btMultirouting::image:hover {
    image: url(:/pics/multirouting_icon_hover.png);
}

#btMultirouting::image:checked {}

#btMultirouting::image:checked:hover {}

/* --------- 2. text --------- */

#Dashboard #btMultirouting #text {
    font: 22px "Roboto";
    max-height: 62px;
    min-height: 62px;
    margin-left: 1px;
}

#btMultirouting::text {
    color: #080D38;
}

#btMultirouting::text:hover {
    color: white;
}

#btMultirouting::text:checked {}

#btMultirouting::text:checked:hover {}

/* --------- 3. checkbox --------- */

#Dashboard #btMultirouting #checkbox {
    min-width:  62px;
    max-width:  62px;
    min-height: 62px;
    min-height: 62px;
}

#btMultirouting::checkbox {
    image: url(:/pics/checkbox_no_icon_mainscreen.png);
}

#btMultirouting::checkbox:hover {
    image: url(:/pics/checkbox_no_icon_hover_mainscreen.png);
}

#btMultirouting::checkbox:checked {
    image: url(:/pics/checkbox_icon_mainscreen.png);
}

#btMultirouting::checkbox:checked:hover {
    image: url(:/pics/checkbox_icon_hover_mainscreen.png);
}

/* --------- rightSpacing --------- */

#Dashboard #btMultirouting #rightSpacing {
    min-width: 0px;
    max-width: 0px;
}

/* ------------------------------- lineMultirouting ------------------------------- */




#Dashboard #lineMultirouting {
    background:  #CDCBE5;
    border: none;
    margin-left: 73px;
    min-height: 1px;
    max-height: 1px;
}


/* ------------------------------- cbUpstream ------------------------------- */

/* Moved to common part:
--------------------------
#cbUpstream
--------------------------*/

#Dashboard #cbUpstream {
    color: #080D38;
    padding-left: 12px;
    font: 22px "Roboto";
    min-height: 62px;
    max-height: 62px;
}

#Dashboard #cbUpstream:hover {
    color: white;
    background-color: #503883;
}

#Dashboard #cbUpstream QListView {
    max-height: 227px;
    min-height: 227px;
}

#Dashboard #cbUpstream QListView::item {
    height: 62px;
    padding-left: 17px;
}

#Dashboard #cbUpstream::separator{
    margin-left: 73px;
}

#Dashboard #cbUpstream::drop-down {
    height: 62px;
    width:  62px;
}

#Dashboard #cbUpstream::down-arrow {
    height: 62px;
    width:  62px;
    image: url(:/pics/drop-down_icon_mainscreen.png);
}

#cbUpstream::down-arrow:hover {
    image: url(:/pics/drop-down_hover_icon_mainscreen.png);
}

#Dashboard #cbUpstream::down-arrow:on {
    image: url(:/pics/drop-down_up_icon_mainscreen.png);
}


/* ------------------------------- btDisconnect ------------------------------- */

#Dashboard #btDisconnect {
    min-width: 240px;
    max-width: 240px;
    min-height: 58px;
    max-height: 58px;
    border-radius: 31px;
}

#Dashboard #btDisconnect #image {
    min-width: 48px;
    max-width: 48px;
    min-height:48px;
    max-height:48px;
    image-position: center;
}

#btDisconnect::image {
    image: url(:/pics/off_btn_icon.png);
}

#btDisconnect::image:hover {
    image: url(:/pics/off_btn_icon_hover.png);
}

#Dashboard #btDisconnect #text {
    margin-left:6px;
    font: 26px "Roboto";
    color: #080D38;
}

#btDisconnect::text {}

#btDisconnect::text:hover {
    color: white;
}

/* ------------------------------- bgStatistics ------------------------------- */


#Dashboard #graphicsView {
    background-color: #EEEDF2;
    border: 1px solid white;
    /* width and height must be set in QtDesigner*/
}

/*for graphics. Implements the active property.*/
#Dashboard #shGrid [active]{
    color: rgba(22, 3, 198, 0.5);
    depth: 0.2;
}

/*for graphics. Implements the active property.*/
#Dashboard #shChartDownload [active]{
    color: #00B52B;
    depth: 1;
    background-color: rgba(0, 181, 43, 0.05);
}

/*for graphics. Implements the active property.*/
#Dashboard #shChartUpload [active]{
    color: #03A7C6;
    depth: 1;
    background-color: rgba(3, 167, 198, 0.08);
}


/* ------------------------------- Datas  ------------------------------- */

#Dashboard #bgStatistics{
    border: none;
    background-color: #EEEDF2;
    min-width:  500px;
    max-width:  500px;
    min-height: 120px;
    max-height: 120px;
}

#Dashboard #lblTitleDownloadSpeed,
#Dashboard #lblDownloadSpeed {
    color: #00B52B;
    font: 500 14px "Roboto";
}

#Dashboard #lblTitleUploadSpeed ,
#Dashboard #lblUploadSpeed {
    color: #03A7C6;
    font: 500 14px "Roboto";
}

#Dashboard #lbTitleDownload ,       #Dashboard #lbReceived,
#Dashboard #lblTitlePacketsRead ,   #Dashboard #lblPacketsRead,
#Dashboard #lblTitleTimeConnected , #Dashboard #lblTimeConnected,
#Dashboard #lblTitleUpload ,        #Dashboard #lbSent,
#Dashboard #lblTitlePacketsWritten, #Dashboard #lblPacketsWritten,
#Dashboard #lblTitleLastConnection, #Dashboard #lblLastConnection {
    color: #080D38;
    font: 14px "Roboto";
}

/* ------------------------------- Indicators  ------------------------------- */

#Dashboard #bgAuth,
#Dashboard #bgStream,
#Dashboard #bgConnection {
    background-color: #8B85A8;
    min-height: 103px;
    max-height: 103px;
}

#Dashboard #lbAuthorization,
#Dashboard #lbStream,
#Dashboard #lbTunnel {
    image: url(:/pics/red_light.png);
    max-width:  42px;
    max-height: 42px;
    min-width:  42px;
    min-height: 42px;
}

#Dashboard #lbAuthorization [active] {
    image: url(:/pics/green_light.png);
}

#Dashboard #lbStream [active] {
    image: url(:/pics/green_light.png);
}

 #Dashboard #lbTunnel [active] {
    image: url(:/pics/green_light.png);
}

#Dashboard #lbAuthorization [passive] {
    image: url(:/pics/red_light.png);
}

#Dashboard #lbStream [passive] {
    image: url(:/pics/red_light.png);
}

 #Dashboard #lbTunnel [passive] {
    image: url(:/pics/red_light.png);
}

#Dashboard #lbAuthorizationText,
#Dashboard #lbStreamText,
#Dashboard #lbTunnelText {
    color: white;
    font: 17px "Roboto";
}

/*******************************************************************************
**			            Sidebar
*******************************************************************************/

#SideBar {
    background-color:#EDECF3;
    min-width:240px;
    max-width:240px;
}

#SideBar *{
    font:25 18px "Roboto";
    color: #080D38;
}

#SideBar QPushButton{
    border: none;
}

/* ------------------------------- Caption ------------------------------- */

#SideBar #frmCaption {
    background-color: #F0EFF5;
    border-bottom: 1px solid #CDCBE5;
    margin-bottom: 20px;
    min-height: 44px;
    max-height: 44px;
}

#SideBar #btMenu {
    image:url(:/pics/menu_icon_dark.png);
}

#SideBarStackedWidget #btMenu:checked {
    image:url(:/pics/back_icon_dark.png);
}


/* ------------------------------- MenuItems ------------------------------- */

#SideBar #btProfile,
#SideBar #btSettings{
    min-height:   36px;
    max-height:   36px;
    margin-top:    4px;
    margin-bottom: 4px;
    background-clip: margin;
}

#SideBarStackedWidget #btProfile:hover,
#SideBarStackedWidget #btSettings:hover {
    color: #FFFFFF;
    background-color: #503883;
}

#SideBarStackedWidget #btProfile:checked,
#SideBarStackedWidget #btSettings:checked {
    border-left: 6px solid #503883;
}

#SideBar #btProfile  #image,
#SideBar #btSettings #image {
    min-width: 44px;
    max-width: 44px;
    image-position: center;
}

/* ----------- btProfile ----------- */

#SideBar #btProfile #leftSpacing {
    max-width: 0px;
}

#btProfile::image {
    image: url(:/pics/profile_icon_dark.png);
}

#btProfile::image:hover {
    image: url(:/pics/profile_icon_hover.png);
}

#btProfile::image:checked {}

#btProfile::image:checked:hover {}

#btProfile::text {}

#btProfile::text:checked {}

#btProfile::text:hover {
    color: #FFFFFF;
}

#btProfile::text:checked:hover {}

/* ----------- btSettings ----------- */

#SideBar #btSettings #leftSpacing {
    max-width: 0px;
}

#btSettings::image {
    image:url(:/pics/settings_icon_dark.png);
}

#btSettings::image:hover {
    image:url(:/pics/settings_icon_hover.png);
}

#btSettings::image:checked {}

#btSettings::image:checked:hover {}

#btSettings::text {}

#btSettings::text:checked {}

#btSettings::text:hover {
    color: #FFFFFF;
}

#btSettings::text:checked:hover {}

/* ------------------------------- Footer ------------------------------- */

#SideBar #lbBrand,
#SideBar #lblVersion
{
    margin-left: 16px;
}

#SideBar #lblVersion
{
    margin-bottom: 14px;
}

#SideBar #lbBrand{
    image: url(:/pics/demlabs_logo.png);
    min-width: 140px;
    max-width: 140px;
    min-height: 22px;
    max-height: 22px;
    margin-bottom: 5px;
    image-position: center left;
}

#SideBar #lblVersion{
    color: #5A5A5A;
    font: 14px "Roboto";
    min-height: 18px;
    max-height: 18px;
}

/* ------------------------------- Right part ------------------------------- */
ScreenOverlaying{
    background-color: rgba(8, 13, 56, 0.66);
}

/* Needed for right positioning of background gradient */
#mainMenuPages {
    margin-left: -240;
    padding-left: 240;
}


/*******************************************************************************
                                    Settings
*******************************************************************************/

/* ------- Servers table -------*/
#ScreenSettings #lblManageServersCaption{
    font: 25 18px "Roboto";
    color: #A4A6C1;
    max-height: 44px;
    min-height: 44px;
}


/* ------- Servers table -------*/
#ScreenSettings #tblServers{
    icon-size:48px;
    font: 16px "Roboto";
    color:#080D38;
    margin:0;
    padding:0;
    border-left: 8px solid transparent;
    background-color: #F6F6FC
}

#ScreenSettings #tblServers QPushButton,
#ScreenSettings #tblServers QToolButton {
    border: none;
    image-position: center;
}

#ScreenSettings #tblServers QPushButton,
#ScreenSettings #tblServers QToolButton,
#ScreenSettings #tblServers::item:disabled {
    border-bottom: 1px solid #A4A6C1;
}

#ScreenSettings #tblServers QPushButton{
    image: url(:/pics/fav_icon.png);
}

#ScreenSettings #tblServers QToolButton{
    image: url(:/pics/more_icon.png);
}

#ScreenSettings #tblServers QToolButton:hover{
    image: url(:/pics/more_icon_select.png);
}

#ScreenSettings #tblServers QPushButton:checked{
    image: url(:/pics/fav_icon_select.png);
}

#ScreenSettings #tblServers::item{
    max-height: 48px;
    min-height: 48px;
}


/* ------- Menu "More" -------*/
#ScreenSettings #SettingsMoreMenu{
    width:136px;
    height:112px;
}

#ScreenSettings #SettingsMoreMenu #frmSettingsMoreMenu{
    border: 0.5 solid #A4A6C1;

    background-color: #F6F6FC;

    padding-top:7.5;            /*+0.5 border*/
    padding-bottom:7.5;         /*+0.5 border*/
}

#ScreenSettings #SettingsMoreMenu QPushButton {
    border: none;

    margin-left:4px;            /*spacing to image*/
    padding-left:34px;           /*margin + padding + 2 = spacing to text*/

    background-color: #F6F6FC;
    background-repeat:none;
    background-position:left center;
    background-origin:padding;  /*background-color position*/
    background-clip:margin;     /*background-image position*/

    font: 15px "Roboto";
    color: #080D38;
    text-align : left;
}

#ScreenSettings #SettingsMoreMenu QPushButton:hover {
    color: #FFFFFF;
    background-color: #503883;
}

/* ------- AddServer button -------*/

#ScreenSettings #btAddServer {
    border-radius: 27px;
    font: 20px "Roboto";
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    background-color:  transparent;
    max-width: 240px;
    max-height: 54px;
    min-width: 240px;
    min-height: 54px;
}

#ScreenSettings #btAddServer:hover {
    color: #080D38;
    background-color:  #FFFFFF;
}


/* ------- ScrollBar -------*/

#ScreenSettings QScrollBar:vertical {
    border: none;
    background: rgba(255, 255, 255, 0.3);
    margin: 0;
}

#ScreenSettings QScrollBar::handle:vertical {
    background: rgba(255, 255, 255, 0.6);
}

#ScreenSettings QScrollBar::add-line:vertical,
#ScreenSettings QScrollBar::sub-line:vertical {
     height: 0px;
}

/*******************************************************************************
                                    Edit Server
*******************************************************************************/

#EditServer {
    min-width:  456px; /* 556px - 50px*2 (padding left/right) */
    max-width:  456px;
    min-height: 398px; /* 468 - 32 (padding top) - 38 (padding bottom)*/;
    max-height: 398px;
    background-color: #F6F6FC;
    padding:32px 50px 38px 50px;
}

#lbCaption {
    min-height: 39px; /*39 + 20*/
    max-height: 39px;
    color: #080D38;
    font-size:30px;

    padding-bottom:20px;

}

.AnimatedLineEdit {
    color: #080D38;
    min-height: 66px;
    max-height: 66px;
    font-size: 22px;
    border:none;
    border-bottom: 1px solid  #503883;
    background: transparent;
    padding-bottom: 6px;
}

.AnimatedLineEdit #label {
    color: #A397C0 ;
    min-height:38px;
    max-height:38px;
    padding: 0;
    min-width:100px;
}

.AnimatedLineEdit::label {
    color: #A397C0 ;
    font-size: 18px;
}

.AnimatedLineEdit::label:focus {
    color: #503883;
}

#wtAddressSpacing,
#wtPortSpacing {
    min-height: 23px;
    max-height: 23px;
}

#wtButtons {
    margin-top: 38px;
    min-height:33px;
    max-height:33px;
}

#wtButtons QPushButton {
    height: 33px;
    color: #6C538F;
    font: bold 25px;
    border:none;
}

#wtButtons QPushButton:hover {
    color: #080D38;
}

#wtButtons #wtButtonsSpacing {
    min-width: 84px;
    max-width: 84px;
}

/*filling backgrounds for checking sizes:*/
/*#lbTitle,
#Logo,
#lblLogin,
#edMail,
#lblPassword,
#edPassword,
#lblServer,
#cbUpstream,
#cbUpstrea::drop-down,
#btShow,
#btSignUp,
#btLostPassword,
#lblSignUpWith,
#lblTextFirst,
#lblTextSecond,
#btBack,
#wgBackSpacing,

#lbCaption
{
    background-clip:content;
    background-color:red;
}*/
